$maxMobile:"(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium:"(min-width: 992px)";
$minLarg:  "(min-width: 1200px)";



$redColor:#dd1f26;
$hoverRedColor:#bb1016;
$greyColor:#666;
$hovergreycolor:#505050;
$black:#222;